
  .gridcontainer_1 {
    display               : grid;
    grid-template-columns : 33.3333% 33.3333% 33.3333%;
    grid-gap              : 10px;
    background            : #666;
    padding               : 10px;

    .griditem {
      background    : #ddd;
      padding       : 20px;
      border-radius : 3px;
    }

  }
