
  .gridcontainer_7 {
    display               : grid;
    grid-template-columns : [vline1] 33.3333% [vline2] 33.3333% [vline3] 33.3333% [vline4]; /* Naming the LINES not the columns */
    grid-template-rows    : [hline1] auto [hline2] auto [hline3] auto [hline4] auto [hline5] ; /* Naming the LINES not the rows */
    grid-gap              : 10px;
    background            : #666;
    padding               : 10px;
  }
  .gridcontainer_7 .griditem {
    background    : #ddd;
    padding       : 20px;
    border-radius : 3px;
  }

  .gridcontainer_7 .a {
    grid-column : vline1 / span vline4; /* Start at column 1 and end before column 4 */
    grid-row    : hline1;               /* Exist on column 1 */
  }

  .gridcontainer_7 .b {
    grid-column : vline3 ;              /* Exist on column 3 */
    grid-row    : hline2 / span hline5; /* Start on column 2 and end before column 4 */
  }

  .gridcontainer_7 .c {
    grid-column : vline1 ;              /* Exist on column 3 */
    grid-row    : hline2 / span hline5; /* Start on column 2 and end before column 4 */
  }
