
  .gridcontainer_9 {
    display               : grid;
    grid-template-columns : repeat(3, [col] 33.3333%); /* 3 COLUMNS (not lines) */
    grid-template-rows    : repeat(4, [row] auto); /* 4 ROWS (not lines) */
    grid-gap              : 10px;
    background            : #666;
    padding               : 10px;
  }
  .gridcontainer_9 .griditem {
    background    : #ddd;
    padding       : 20px;
    border-radius : 3px;
  }

  .gridcontainer_9 .a {
    grid-column : col 1 / span 3; /* Start at column 1 and end before column 4 */
    grid-row    : row 1;               /* Exist on column 1 */
  }

  .gridcontainer_9 .b {
    grid-column : col 3 ;              /* Exist on column 3 */
    grid-row    : row 2 / span 2; /* Start on column 2 and end before column 4 */
  }

  .gridcontainer_9 .c {
    grid-column : col 1 ;              /* Exist on column 3 */
    grid-row    : row 2 / span 4; /* Start on column 2 and end before column 4 */
  }

  .gridcontainer_9 .f {
    grid-column : col 2 / span 2 ;              /* Exist on column 3 */
    grid-row    : row 4 / span 2; /* Start on column 2 and end before column 4 */
  }
